sway ; /home/enricozb/.config/sway/
alacritty ; /home/enricozb/.config/alacritty/
tmux/.tmux.conf ; /home/enricozb/.tmux.conf
fish/config.fish ; /home/enricozb/.config/fish/config.fish
picom/config ; /home/enricozb/.config/picom/config
swaylock ; /home/enricozb/.config/swaylock/
i3/config.template ; /home/enricozb/.config/i3/config.template
i3/lock.sh ; /home/enricozb/.config/i3/lock.sh
xinit/.xinitrc ; /home/enricozb/.xinitrc
rofi/config.rasi.template ; /home/enricozb/.config/rofi/config.rasi.template
kak/kakrc ; /home/enricozb/.config/kak/kakrc
kak/rc ; /home/enricozb/.config/kak/rc
flameshot/flameshot.ini ; /home/enricozb/.config/Dharkael/flameshot.ini
wallpapers ; /home/enricozb/.config/wallpapers
mpv ; /home/enricozb/.config/mpv
